## Isolation Forest
Regression Tree 기반의 Split으로 모든 데이터 관측치를 고립시키는 방법
비정상 데이터가 고립되려면 root node와 가까운 depth를 가짐
정상 데이터가 고립되려면 tree의 말단노드에 가까운 depth를 가짐

In [4]:
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib.pyplot as plt 
import numbers
#from sklearn.utils.fixes import euler_gamma
from sklearn.tree import ExtraTreeRegressor
from scipy.sparse import issparse, csc_matrix
from sklearn.externals import six
from sklearn.utils import check_random_state, check_array
from sklearn.ensemble.bagging import BaseBagging
INTEGER_TYPES = (numbers.Integral, np.integer)

## 데이터 전처리

In [8]:
data = pd.read_csv("./GAS_DATASET_1.csv")
data

      TIMESTEMP  GAS_DATA  Class
0          2713       165      0
1          2713       166      0
2          2714       167      0
3          2714       167      0
4          2715       166      0
...         ...       ...    ...
1998       4411       332      0
1999       4411       314      0
2000       4412       301      0
2001       4412       290      0
2002       4413       281      0

[2003 rows x 3 columns]

In [17]:
X = np.array(pd.DataFrame(data, columns = ["TIMESTEMP", "GAS_DATA"]))
y = np.array(pd.DataFrame(data, columns = ["Class"]))

In [18]:
X

array([[2713,  165],
       [2713,  166],
       [2714,  167],
       ...,
       [4412,  301],
       [4412,  290],
       [4413,  281]], dtype=int64)

TRUE